dataFileName: persistentData
logFileName: transactionLog

logging:
  level: INFO

server:
  applicationConnectors:
    - type: http
      port: 8080
  adminConnectors:
    - type: http
      port: 8081
